div a {
    text-align: right;
    padding: 16px;

}
main {
    display: block;
    max-width: 1000px;
    text-align: center;
    border-bottom: 60px;
}

section.head { 
    background: linear-gradient(to bottom, black, grey);
    display: block;
    max-width: 100%;
    border-radius: 60px 60px 0 0; 
    color: white;
    padding: 0px;
    margin: 0;
}

section h1 {
    margin: 0;
    padding: 16px ;
}

aside {
    background: linear-gradient(to bottom, grey, white);
    margin: 0;
    padding: 16px;
    border-radius: 0 0 60px 60px;
    padding-bottom: 150px;
}

aside h2 {
    display: block;
    margin: 0;
    padding: 16px;
}

aside img {
    display: block;
    padding: 0px;
    margin: 20px auto;
    width: 200px;
    height: auto;
    box-shadow: 16px 32px 64px rgba(0, 0, 0, 0.5) ;
}


aside p {
    display: block;
    padding: 0px;
    margin: 0;
    text-align: justify;
}

footer {
    display: block;
    padding-top: 5px;
    border-top: 1px solid #0915be;
    text-align: center;
}

aside img.image2 {
    display: block;
    padding: 0px;
    margin: 20px auto;
    width: 150px;
    height: auto;
    box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.5) ;
}